/* --------- starf of global styles --------- */
:root {
  --brand-color: #ffffff;
  --active-color: #2196f3;
  --text-color: #757575;
  --logo-color: #000000;
  --border-color: #ececec;
  --second-border-color: #eeeeee;
  --brand-text-color: #212121;
  --main-background-color: #2f303a;
  --subsection-background-color: #f5f4fa;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --footer-icon-background: rgba(255, 255, 255, 0.1);
  --shadow-color: rgba(0, 0, 0, 0.25);
  --second-shadow-color: rgba(0, 0, 0, 0.12);
  --third-shadow-color: rgba(0, 0, 0, 0.14);
  --forth-shadow-color: rgba(0, 0, 0, 0.2);
  --fifth-shadow-color: rgba(0, 0, 0, 0.16);
  --icon-color: #afb1b8;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--brand-color);
  color: var(--brand-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
ul,
li,
a,
nav,
h1,
h2,
h4,
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.637rem;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--brand-text-color);
}

header {
  border-bottom: 1px solid var(--border-color);
}
/* --------- end of global styles --------- */

/* start of header */
.header {
  display: flex;
  align-items: center;
}
/* end of header */

/* start logo */
.logo {
  color: var(--active-color);
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.908rem;
  letter-spacing: 0.03em;
  width: auto;
  margin: 0;
}
.header__logo {
  margin-right: 93px;
}
.header__logo--color {
  color: var(--logo-color);
}

.footer__logo {
  margin-bottom: 20px;
}
.footer__logo--color {
  color: var(--brand-color);
}
/* start logo */

/* start nav */
.nav {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 50px;
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.026rem;
  letter-spacing: 0.02em;
}
.nav__item {
  display: block;
  text-decoration: none;
  padding: 32px 0;
  color: var(--brand-text-color);
  position: relative;
  bottom: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__item:visited {
  text-decoration: none;
  color: var(--brand-text-color);
}
.nav__item:hover,
.nav__item:focus {
  color: var(--active-color);
}
.nav__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--brand-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__item:hover:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}
/* end nav */

/* start contacts */
.contacts {
  display: flex;
  padding: 0;
  gap: 30px;
  margin-left: auto;
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
.contacts__item {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.026rem;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__item:visited {
  color: var(--text-color);
  text-decoration: none;
  fill: var(--text-color);
}
.contacts__item:hover,
.contacts__item:focus {
  color: var(--active-color);
}
.contacts__item--footer {
  color: var(--footer-contact-color);
  margin-bottom: 9px;
  font-weight: 400;
}
.contacts__item--footer:visited {
  color: var(--footer-contact-color);
}
/* end contacts */

/* ----------------- start of main studio ----------------- */

/* start of order */

.order {
  background-color: var(--main-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  text-align: center;
}
.order__title {
  color: var(--brand-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 3.75rem;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
  flex-wrap: wrap;
  width: 696px;
}
/* end of order */
/* start of button */
.button {
  width: 200px;
  height: 50px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  text-align: center;
  background: var(--active-color);
  color: var(--brand-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875rem;
  letter-spacing: 0.06em;
  padding: 0;
  margin: 0;
  margin-left: 12px;
}
.footer__button {
  padding: 10px 28px 10px 41px;
  display: flex;
  align-items: center;
}
.button__label {
  margin: 0;
  margin-right: 24px;
}
.button__icon {
  fill: var(--brand-color);
  margin: 0;
  padding: 0;
}
/* end of button */

/* start of descriptions */
.descriptions {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
}
.descriptions__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.026rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}
.descriptions__text {
  font-size: 14px;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: var(--text-color);
  max-width: 270px;
  margin: 0;
}

.descriptions__card {
  width: 270px;
  height: 120px;
  background-color: var(--subsection-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
/* end of descriptions */

/* start of services */
.section__services {
  padding-top: 0;
}
.services {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.services__item {
  position: relative;
}
.services__text {
  position: absolute;
  display: flex;
  width: 100%;
  height: 70px;
  bottom: 0;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: var(--brand-color);
  background-color: rgba(47, 48, 58, 0.8);
  justify-content: center;
  align-items: center;
}
/* end of services */

/* start of team */
.team {
  background: var(--subsection-background-color);
  height: 708px;
}
.team__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.teamcard {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--brand-color);
  box-shadow: 0px 1px 3px var(--second-shadow-color), 0px 1px 1px var(--third-shadow-color),
    0px 2px 1px var(--forth-shadow-color);
  border-radius: 0px 0px 4px 4px;
}

.teamcard__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.teamcard__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.172rem;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 10px;
}
.teamcard__position {
  font-size: 16px;
  line-height: 1.172rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0;
  margin-bottom: 16px;
}
.teamcard__socialmedia {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style-type: none;
}
/* end of team */

/* start of socialmedia */

.socialmedia__item {
  background-color: var(--brand-color);
  fill: var(--icon-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialmedia__item:hover,
.socialmedia__item:focus {
  fill: var(--brand-color);
  background-color: var(--active-color);
}
.socialmedia__bar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
}
.socialmedia__item--footer {
  background-color: var(--footer-icon-background);
  fill: var(--brand-color);
}

/* end of socialmedia */

/* start of clients */

.clients {
  height: 372px;
}
.clients__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.clientslist__item {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clientslist__item:hover {
  fill: var(--active-color);
  border-color: var(--active-color);
}
/* end of clients */

/* ----------------- end of studio ---------------- */

/* -------------- start of portfolio -------------- */

/* start of menu */
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  list-style-type: none;
}
.menu__button {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625rem;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--subsection-background-color);
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
  margin-bottom: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__button:hover,
.menu__button:focus {
  background-color: var(--active-color);
  color: var(--brand-color);
  filter: drop-shadow(0px 4px 4px var(--shadow-color));
}
/* end of menu */

/* start of portfolio */
.portfolio {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1170px;
  margin: 0 auto;
}
.portfoliocard__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25rem;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
}
.portfoliocard__category {
  font-size: 16px;
  line-height: 1.875rem;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0;
}

.portfoliocard {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfoliocard__image {
  position: relative;
  overflow: hidden;
}
.portfoliocard:hover,
.portfoliocard:focus {
  box-shadow: 1px 4px 6px 0px var(--fifth-shadow-color);
}
.portfoliocard:hover .overlay {
  transform: translateY(0);
}
.portfoliocard__description {
  background-color: var(--brand-color);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid var(--second-border-color);
  border-bottom: 1px solid var(--second-border-color);
  border-right: 1px solid var(--second-border-color);
  z-index: 0;
}
/* end of portfolio */
/* start of overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(+150%);
  transition: transform 0.3s cubic-bezier(0.2, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}
.overlay__text {
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.75rem;
  font-weight: 400;
  color: var(--brand-color);
  width: 81.35%;
  height: 66.67%;
  position: absolute;
  left: 6.5%;
  top: 16.66%;
}
/* end of overlay */

/* ----------------- end of portfolio ---------------- */

/* ------------------ start of footer ---------------- */

.footer {
  background-color: var(--main-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: 0;
  max-height: 252px;
  display: flex;
  align-items: baseline;
}
.footer__parts {
  display: flex;
  align-items: baseline;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 70px;
}
.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  text-decoration: none;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
}
.footer__subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.026rem;
  color: var(--brand-color);
  margin-bottom: 20px;
  letter-spacing: 0.03em;
}
.footer__socialmedia {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

/* start of newslettter */
.newsletter {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.newsletter__input {
  width: 358px;
  height: 50px;
  background-color: var(--main-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: var(--brand-color);
}
.newsletter__input:focus-visible {
  outline: 0;
}
.newsletter__form {
  display: flex;
}
/* end of newslettter */

/* ------------------ end of footer ---------------- */

/* ------------------ start of modal --------------- */
.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translateY(100%) translateX(-100%) rotate(180deg);
}
.modal__title {
  line-height: 23px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
}
.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--brand-color);
  border-radius: 4px;
  transition: transform 1000ms;
  text-align: center;
}
.modal__button--close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: var(--brand-color);
  cursor: pointer;
}
.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  margin-top: 12px;
}
.modal__fieldset {
  position: relative;
  display: flex;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 9px 0 13px 12px;
}
.modal__fieldset:has(input:focus) {
  border: 1px solid var(--active-color);
  fill: #2196f3;
}
.modal__fieldset:has(textarea:focus) {
  border: 1px solid var(--active-color);
}
.modal__fieldset--comment {
  height: 120px;
}
.modal__label {
  position: absolute;
  top: -17px;
  left: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal__icon {
  margin: 0;
  padding: 0;
  margin-right: 5px;
}
.modal__input {
  border: 0;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--text-color);
  resize: none;
}
.modal__input::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__input:focus {
  outline: 0;
}
.modal__input:hover .modal__input:focus {
  border: 0;
}
.modal__links {
  text-decoration: underline;
  color: var(--active-color);
}
.modal__statement {
  color: var(--text-color);
}

.modal__checkbox {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.modal__checkbox .checkbox__input {
  cursor: pointer;
  position: absolute;
  left: -20px;
  width: 16px;
  height: 15px;
  opacity: 0;
  z-index: 3;
}
.checkbox__checkmark {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid var(--brand-text-color);
  border-radius: 3px;
  fill: #000000;
  left: -19.5px;
  top: 1px;
}
.checkbox__checkmark::after {
  display: none;
  content: '';
  width: 15px;
  height: 15px;
  background-color: #2196f3;
  border-radius: 3px;
  position: absolute;
  left: -0.75px;
  top: -0.85px;
}
.modal__checkbox .checkbox__input:checked ~ .checkbox__checkmark:after {
  display: block;
}
.modal__checkbox .checkbox__input:checked ~ .checkbox__checkmark {
  border: 0;
}
.checkbox__icon {
  width: 13px;
  height: 11px;
  fill: white;
  position: absolute;
  z-index: 2;
  left: 0.5px;
  top: 1px;
}

/* end of modal */ ;
